<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSjXW4RQXhbO8OnTDcv86vKhSOJBU8Dxo</string>
	<key>GCM_SENDER_ID</key>
	<string>708398428455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shinde.tech.aarti.sangrah.shindeTechAartiSangrah</string>
	<key>PROJECT_ID</key>
	<string>shinde-tech-aarti-sangrah</string>
	<key>STORAGE_BUCKET</key>
	<string>shinde-tech-aarti-sangrah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708398428455:ios:66838f5ccd138324cef902</string>
</dict>
</plist>